@using Microsoft.AspNetCore.Identity
@using AnyoneForTennis.Constants
@inject SignInManager<ApplicationUser> SignInManager
@model AnyoneForTennis.Models.ViewModels.UserScheduleViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Schedules</h1>
@if (User.IsInRole(Roles.Admin.ToString()))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Date)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.Schedules[0].Coach)
            </th>
            <th>
                Enrolled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedules) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.UserName)
            </td>
            
            @if (Model.User.Schedules.Contains(item))
            {
                <td>
                    Yes
                </td>
            }
            else{
                <td>
                    -
                </td>
            }
            <td>
                @if (User.IsInRole(Roles.Admin.ToString()))
                {
                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a>
 
                    <a asp-action = "Delete" asp-route-id = "@item.ScheduleId"> Delete </a>

                }
                <a asp-action = "Details" asp-route-id = "@item.ScheduleId" > Details </a>
                @if (User.IsInRole(Roles.User.ToString()))
                {
                    @if (Model.User.Schedules.Contains(item))
                    {
                        <a asp-action="Enrol" asp-route-id="@item.ScheduleId"> Leave </a>
                    }
                    else
                    {
                        <a asp-action="Enrol" asp-route-id="@item.ScheduleId"> Enrol </a>

                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
